{% extends 'base_layout.html' %}

{% block todos %}
    <div class="todos-container">
        <div class="create-todos">
            <form action="{% url 'todos:create' %}" class="site-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="todos">
            {% for todo in todos %}
                <div class="todo">
                    <div class="snippet">
                        <p class="note-text">{{ todo.text }}</p>
                        <p class="note-date">{{ todo.time }}</p>
                        <form action="{% url 'todos:delete' todo.id %}" class="delete-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input class="delete" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}