{% extends 'base_layout.html' %}
{% block notes %}
    <div class="notes-container">
        <div class="search-container">
            <form action="{% url 'notes:search' %}" class="site-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" value="" name="query">
                <button class="searchbutton" type="submit">Search</button>
            </form>
        </div>
        <div class="create-notes">
            <form action="{% url 'notes:create' %}" class="site-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="notes">
            {% for note in notes %}
                <div class="note">
                    <div class="snippet">
                        <p class="note-text">{{ note.snippet }}</p>
                        <p class="note-date">{{ note.date }}</p>
                        <form action="{% url 'notes:delete' %}" class="delete-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="id_note" value="{{ note.id }}">
                            <input class="delete" type="submit" value="Delete">
                        </form>
                    </div>
                    <form action="{% url 'notes:update' %}" class="update-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="area">
                            <input type="submit" value="Update">
                            <input type="hidden" name="id_note" value="{{ note.id }}">
                            <input type="hidden" class="hidden-text" value="{{ note.text }}">
                            {{ update_form }}
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}