.navigation {
    border-bottom: 2px solid #407d3a;
    display: flex;
    flex-direction: row;
    background-color: white;
}

body{
    font-family: Arial;
}

.logo {
    width: 3%;
    margin: 5px;
}

.menu {
    margin: auto;
}

a {
    font-family: "Arial Black";
    font-weight: bold;
    color: #407d3a;
}

a:hover{
    opacity: 0.5;
    cursor: pointer;
}

.nav-list {
    margin: auto;
    margin-right: 5px;
    margin-left: 0;
}

.notes-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 2%;
}

.todos-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 2%;
}

.search-container{
    display: flex;
    justify-content: left;
}

.searchbox {
    border-radius: 5px;
    border: 1px solid #407d3a;
    width: 100%;
    height: 5vh;
}

.searchbutton {
    border-radius: 5px;
    border: 1px solid #407d3a;
}

.snippet {
    background-color: burlywood;
    height: 20%;
}

.note {
    border-bottom: 2px solid #407d3a;
}

.todo {
    border-bottom: 2px solid #407d3a;
}

.note-text {
    font-weight: bold;
    position: relative;
    left: 2%;
    background-color: transparent;
    border: none;
}

.note-date {
    color: brown;
    font-weight: bold;
    position: relative;
    text-align: right;
    margin-bottom: 0;
}

.area {
    width: 100%;
}

.editor {
    width: 100%;
    border: none;
    background-color: whitesmoke;
    font-family: Consolas;
    text-indent: 1%;
}

.site-form {
    margin-top: 5%;
    display: flex;
}

.site-form textarea{
    height: 10vh;
    border-radius: 5px;
    border: 1px solid #407d3a;
    background-color: #efedee;
}

.site-form input {
    border-radius: 5px;
    border: 1px solid #407d3a;
}

.site-form label {
    display: none;
}