{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Rokovnik</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <nav class="navigation">
        <img src="{% static 'logo.svg' %}" alt="logo" class="logo">
        <div class="menu">
            <a href="{% url 'notes:list' %}">Notes</a>
            |
            <a href="{% url 'todos:list' %}">Todo list</a>
        </div>
        <div class="nav-list">
            <a>Aaaa</a>
            <a>aaaa</a>
        </div>
    </nav>
    <div class="inner">
        {% block notes %}
        {% endblock %}
        {% block todos %}
        {% endblock %}
    </div>
</body>
</html>